<?php
$options =  null;

if(!empty($model->bobot->detail)){
	$options =  $model->bobot->detail; 
}

?>


<div class="form-group dropdown-field span-left">
    <label>Nilai Ideal</label>
    <select class="form-control custom-select" name="Kriteria[nilai_ideal]" >

		<?php if(!empty($options)){ ?>
			<?php foreach($options as $key=>$value){ ?>
				<option 
				<?php if($model->nilai_ideal==$value->id){ ?>
					selected
				<?php } ?> 
				value="<?= $value->id ?>">

				<?= $value->label ?></option>
        	<?php } ?>	
		<?php } ?>
    </select>
    <p class="help-block">diperlukan untuk perhitungan Profile Matching</p>
</div>