<style type="text/css">
    .center{
        text-align: center;
    }
</style>

<section>
    <legend>Normalisasi</legend>
    <div class="control-list">

    <table class="table data" data-control="rowlink">
        <thead>
            <tr>
                <th class="list-checkbox">
                    <div class="checkbox custom-checkbox nolabel">
                        <input type="checkbox" id="checkboxAll" />
                        <label for="checkboxAll"></label>
                    </div>
                </th>

                <th class="sort-desc "><a href="#">Nama</a></th>
                <th class="sort-desc center"><a href="#">NIS</a></th>
                <th class="sort-desc center"><a href="#">NCF</a></th>
                <th class="sort-desc center"><a href="#">NSF</a></th>
                <th class="sort-desc center"><a href="#">Total</a></th>
                
            </tr>
        </thead>
        <tbody>
            <?php if(!empty($siswa)){ ?>
                <?php foreach($siswa as $obj){ ?>
                    <?php 
                        $ncf = 0;
                        $nsf = 0;

                        $ccf = 0;
                        $csf = 0;

                        $bgap = 0;
                        $rank = 0;
                        $total = 0;

                    ?>
                    <tr>
                        <td class="list-checkbox nolink">
                            <div class="checkbox custom-checkbox nolabel">
                                <input id="checkbox_1" type="checkbox" />
                                <label for="checkbox_1">Check</label>
                            </div>
                        </td>
                        <td class=""><a href="#"><?= $obj->nama?></a></td>
                        <td class="center"><a href="#"><?= $obj->nis?></a></td>
                            <?php if(!empty($kriteria)){ ?>
                                <?php foreach($kriteria as $kobj){ ?>
                                        <?php $val = $kobj->nilai
                                        ->where('kriteria_id',$kobj->id)
                                        ->where('siswa_id',$obj->id)->first() ?>
                                        <?php $bgap = !empty($val)?$val->getNormalisasiPM($kobj, $obj):0 ?>
                                        <?php 
                                            if($kobj->jenis_faktor=='core'){
                                                $ccf += 1;
                                                $ncf += $bgap;
                                            }elseif($kobj->jenis_faktor=='secondary'){
                                                $csf += 1;
                                                $nsf += $bgap;
                                            }
                                         ?>
                                <?php } ?>
                            <?php }  ?>

                        <?php $rank = (($pm_core*($ncf/$ccf))/100) + (($pm_secondary*($nsf/$csf))/100); 
?>    

                        <td class="center"><a href="#"><?= round($ncf/$ccf,2) ?></a></td>
                        <td class="center"><a href="#"><?= round($nsf/$csf,2) ?></a></td>
                        <td class="center"><a href="#"><?= round($rank,2) ?></a></td>
                    </tr>
                    
                <?php } ?>
            <?php }  ?>
        </body>
    </table>
</div>
</section>