<style type="text/css">
    .center{
        text-align: center;
    }
</style>

<section>
    <legend>Normalisasi</legend>
    <div class="control-list">

    <table class="table data" data-control="rowlink">
        <thead>
            <tr>
                <th class="list-checkbox">
                    <div class="checkbox custom-checkbox nolabel">
                        <input type="checkbox" id="checkboxAll" />
                        <label for="checkboxAll"></label>
                    </div>
                </th>

                <th class="sort-desc "><a href="#">Nama</a></th>
                <th class="sort-desc center"><a href="#">NIS</a></th>
                <th class="sort-desc center"><a href="#">NCF</a></th>
                <th class="sort-desc center"><a href="#">NSF</a></th>
            </tr>
        </thead>
        <tbody>
            <?php if(!empty($siswa)){ ?>
                <?php foreach($siswa as $obj){ ?>
                    <tr>
                        <td class="list-checkbox nolink">
                            <div class="checkbox custom-checkbox nolabel">
                                <input id="checkbox_1" type="checkbox" />
                                <label for="checkbox_1">Check</label>
                            </div>
                        </td>
                        <td class=""><a href="#"><?= $obj->nama?></a></td>
                        <td class="center"><a href="#"><?= $obj->nis?></a></td>

                        <td class="center"><a href="#">
                           <?php if(!empty($kriteria)){ 

                                    $kriteria->where('jenis_faktor','core'); ?>
                                <?php foreach($kriteria as $kobj){ ?>

                                <?= $standar =  $bobotitem->find($kobj->nilai_ideal)->bobot?>
                                    <?php $val = $kobj->nilai
                                        ->where('kriteria_id',$kobj->id)
                                        ->where('siswa_id',$obj->id)->first() ?>
                                        <?php if(!empty($val)){ 

                                            
                                                $valx = $standar - $val->bobotitem->bobot;

                                                $x = 0;
                                                switch($valx){
                                                    case 0 : $x=5; break;
                                                    case 1 : $x=4.5; break;
                                                    case -1 : $x=4; break;
                                                    case 2 : $x=3.5; break;
                                                    case -2 : $x=3; break;
                                                    case 3 : $x=2.5; break;
                                                    case -3 : $x=2; break;
                                                    case 4 : $x=1.5; break;
                                                    case -4 : $x=1; break;

                                                }


                                         }?>

                                <?php } ?>
                            <?php }  ?>    
                 

                            </a>
                        </td>
            
                        <td class="center"><a href="#">
                            <?php if(!empty($kriteria)){ ?>
                                <?php foreach($kriteria as $kobj){ ?>
                                     <?php if($kobj->jenis_faktor=='secondary'){ ?>
s
                                      <?php  } ?>
                                <?php } ?>
                            <?php }  ?>
                            </a>
                        </td>

                    </tr>
                    
                <?php } ?>
            <?php }  ?>
        </body>
    </table>
</div>
</section>