
<form class="form-elements" role="form" id="pm-setting">
    <div class="form-group storm col-md-2">
        <label>Nilai Core Factor (%)</label>
        <input type="text" name="pm_core" value="<?= $pm_core ?>" class="form-control pm_field" />
    </div>

    <div class="form-group storm col-md-2">
        <label>Nilai Secondary Factor (%)</label>
        <input type="text" name="pm_secondary" value="<?= $pm_secondary ?>" class="form-control pm_field" />
    </div>


    <div class="form-group storm col-md-2">
        <label>Bobot Gap</label>
        <select class="form-control custom-select pm_field" name="pm_bobot_id" >
            <?php if(!empty($bobot)){ ?>
                <?php foreach($bobot as $key=>$value){ ?>
                    <option 
                    <?= ($pm_bobot_id==$value->id?'selected':'') ?>
                     value="<?= $value->id ?>"><?= $value->nama ?></option>
                <?php } ?>
            <?php } ?>

        </select>
    </div>
</form>

<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#primaryTabOne">Hasil Analisa</a></li>
        <li><a href="#primaryTabTwo">Bobot</a></li>
        <li><a href="#primaryTabThree">GAP</a></li>
        <li><a href="#primaryTabFour">Normalisasi GAP</a></li>
        <li><a href="#primaryTabFive">Normalisasi Faktor</a></li>
        <li><a href="#primaryTabSix">Perangkingan</a></li>
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <?= $this->makePartial('hasil_1', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_1a', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_2', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_2a', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_3', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_4', []) ?>
        </div>
    </div>
</div>





