<style type="text/css">
    .center{
        text-align: center;
    }
</style>

<section>
    <legend>Perangkingan</legend>
    <div class="control-list">

    <table class="table data" data-control="rowlink" >
        <thead>
            <tr>
                <th class="list-checkbox">
                    <div class="checkbox custom-checkbox nolabel">
                        <input type="checkbox" id="checkboxAll" />
                        <label for="checkboxAll"></label>
                    </div>
                </th>

                <th class="sort-desc"><a href="#">Nama</a></th>
                <th class="sort-desc center"><a href="#">NIS</a></th>
                    <?php foreach($kriteria as $kobj){ ?>
                        <th class="center"><a href="#"><?= $kobj->nama?><br/>(<?= $kobj->nilai_kriteria ?> %)</a></th>
                    <?php } ?>

                <th class="sort-desc center"><a href="#">Total</a></th>
            </tr>
        </thead>
        <tbody>
            <?php if(!empty($siswa)){ ?>

                <?php foreach($siswa as $obj){ ?>
                    <?php $total = 0 ?>
                    <tr>
                        <td class="list-checkbox nolink">
                            <div class="checkbox custom-checkbox nolabel">
                                <input id="checkbox_1" type="checkbox" />
                                <label for="checkbox_1">Check</label>
                            </div>
                        </td>
                        <td class=""><a href="#"><?= $obj->nama?></a></td>
                        <td class="center"><a href="#"><?= $obj->nis?></a></td>
                            <?php if(!empty($kriteria)){ ?>
                                <?php foreach($kriteria as $kobj){ ?>
                                    <td class="center"><a href="#">


                                        <?php 

                                        $val = $kobj->nilai
                                        ->where('kriteria_id',$kobj->id)
                                        ->where('siswa_id',$obj->id)->first() ?>
                                        <?php $n =  $nilai
                                                ->select('prudent_spk_bobot_items.*')
                                                ->join('prudent_spk_bobot_items','prudent_spk_bobot_items.id','=','prudent_spk_nilais.nilai')->where('kriteria_id', $kobj->id)->get(); 

                                                $akhir = 0; ?>
                                            
                                        <?php if($val->kriteria->kategori=='benefit'){ ?>
                                            <?php $akhir = $val->bobotitem->bobot/$n->max('bobot') ?>
                                        <?php }elseif($val->kriteria->kategori=='cost'){ ?>
                                            <?php $akhir = $n->min('bobot')/$val->bobotitem->bobot ?>
                                        <?php }  ?>

                                        <?= $final = $akhir * ($kobj->nilai_kriteria/100) ?>
                                        <?php $total += $final; ?>
                                <?php } ?>
                            <?php }  ?>
                        <td class="center"><a href="#"><?= $total ?></a></td>
                    </tr>
                    
                <?php } ?>
            <?php }  ?>
        </body>
    </table>
</div>
</section>