

<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#primaryTabOne">Hasil Analisa</a></li>
        <li><a href="#primaryTabTwo">Bobot</a></li>
        <li><a href="#primaryTabThree">Normalisasi</a></li>
        <li><a href="#primaryTabFour">Perangkingan</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <?= $this->makePartial('hasil_1', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_1a', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_2', []) ?>
        </div>
        <div class="tab-pane">
            <?= $this->makePartial('hasil_3', []) ?>
        </div>
    </div>
</div>





