<div data-control="toolbar">
    <a
        href="<?= Backend::url('prudent/spk/siswa/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Siswa
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Siswas?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>

    <?php if ($this->user->hasAnyAccess(['prudent.spk.access_import_export'])): ?>
        <div class="btn-group">
            <a
                href="<?= Backend::url('prudent/spk/siswa/export') ?>"
                class="btn btn-default oc-icon-download">
                Export
            </a>
            <a
                href="<?= Backend::url('prudent/spk/siswa/import') ?>"
                class="btn btn-default oc-icon-upload">
                Import
            </a>
        </div>
    <?php endif ?>
</div>
