<div id="nilaiKriteriaList">
    <div class="control-list">
    	
    				<?php if(!empty($siswa) && !empty($siswa->kelas)){ ?>

    				
            		<?php if(!empty($kriteria)){ ?>
            			<?php foreach($kriteria as $kobj){ ?>
            					<section >

	        						<div class="form-group storm col-md-3 col-md-offset-9 col-md-pull-9">
								        <label><h4 style="border-bottom: 1px solid black;"><?= $kobj->nama ?> (<?= $kobj->kode ?>)</h4></label>
								    </div>

			                		<?php  
			                		if(!empty($subkriteria[$kobj->id])){ ?>
				            			<?php foreach($subkriteria[$kobj->id] as $sobj){ ?>
				            				<?php $selected = $nilai->where('siswa_id',$siswa->id)->where('kriteria_id',$sobj->id)->first();  ?>
				            				<?php 
				            				$selectedvalue = null;
				            				$finalval = null;
				            				$finallabel = null;
				            				if(!empty($selected)){
				            					$selectedvalue =  $bobotItem->find($selected->nilai);
				            					if(!empty($selectedvalue)){
				            						$finalval = $selectedvalue->id;
				            						$finallabel = $selectedvalue->label;
				            					}
				            				}?>

				            				<?php if($kriteriamapping->where('kriteria_id',$sobj->id)
				            					->where('kelas_id',$siswa->kelas->id)->count()>0){ ?>

			            					<div class="form-group dropdown-field storm col-md-2">
										        <label class="small" style="line-height: 8px;"><?= $sobj->nama?> 
										        </label>
										       <select name="Nilai[<?= $sobj->id ?>]" id="Nilai_<?= $sobj->id ?>" class="form-control custom-select" placeholder="--pilih--">
			 										<option value="" selected disabled="">Choose</option>
			 										<?php if(!empty($valueOptions[$sobj->bobot_id])){ ?>
				 										<?php foreach($valueOptions[$sobj->bobot_id] as $okey => $ovalue){ ?>
			 											<option value="<?=$ovalue->id?>"
			 												data-nilai="final-label"
			 												<?= ($finalval==$ovalue->id)?'selected':'' ?>
			 												>
			 												<?=$ovalue->label?>
			 												</option>
				 										<?php } ?>
			 										<?php } ?>
								        			
										        </select>
										        <p class="help-block">Nilai Ideal : 
										        	<?php $ideal =  $bobotItem->where('id', $sobj->nilai_ideal)->first() ?>
										        	<?= !empty($ideal)?$ideal->label:'' ?>
										        </p>
										    </div>
										    <?php } ?>
										<?php } ?>
									<?php }else{ ?>
											<div class="form-group dropdown-field storm col-md-2">
										        Tidak Ada kriteria
										    </div>
									<?php } ?>
	
            					</section>
     			   		<?php } ?>
     			   	<?php } ?>
     		<?php		} ?> 



	</div>

</div>


