<style type="text/css">
	.completed{
		color : green;
	}
	.incomplete{
		color:red;
	}
</style>

<span class="<?= ($record->getNilaiCount()==$record->getTotalKriteriaCount() ? 'completed':'incomplete')?>">
<?= $record->getNilaiCount()  ?></span> / <?= $record->getTotalKriteriaCount() ?>
