
<?php if(!empty($kriteria)){ ?>
    <?php foreach($kriteria as $obj ){ ?>
    
        <div class="form-group dropdown-field span-full">
            <label><?= $obj->nama ?></label>
            <input type="text" name="<?= $obj->kode ?>" value="" class="form-control" />
            <?= $obj->kategori ?>
        </div>

    <?php } ?>    
<?php } ?>