<?php if(!empty($bobot)){ ?>


<a href="#add-bobot-item" id="addBobotItemBtn" class="btn btn-primary btn-lg" style="margin-bottom: 16px !important;">Add item</a>


<div class="control-list" id="bobotitemlist">
    <table class="table data">
        <thead>
            <tr>
                <th class="sort-desc"><a href="/">Label</a></th>
                <th class="active sort-asc"><a href="/">Min</a></th>
                <th><span>Max</span></th>
                <th><span>Bobot Nilai</span></th>
                <th class="list-setup"><a href="/" title="List options"></a></th>
                <th class="list-setup"><a href="/" title="List options"></a></th>
            </tr>
        </thead>
        <tbody>
			<?php if(!empty($bobot->detail)){ ?>
				<?php foreach($bobot->detail as $key=>$value){ ?>
					<tr>
		                <td><?= $value->label ?></td>
		                <td><?= $value->nilai_min ?></td>
		                <td><?= $value->nilai_max ?></td>
		                <td><?= $value->bobot ?></td>
		                <td width="10">
		                	<a href="#" class=" btn-delete-bobot btn btn-default btn-xs" data-request="onDeleteBobotItem" data-request-data="id: <?= $value->id ?>" data-request-confirm="Hapus data ini?" data-request-success="toast(data);refresh();" data-request-error="toast(data);">
		                		<i class="icon-trash-o"></i>
		                	</a>
		                </td>
		                <td width="10">
		                	<a data-record-id="<?= $value->id ?>" href="#" class=" btn-edit-bobot btn btn-primary btn-xs" >
								<i class="icon-pencil-square-o"></i>
							</a>
						</td>
		            </tr>
				<?php } ?>	
			<?php } ?>
        </tbody>
    </table>
</div>


<div class="control-popup modal fade" id="add-bobot-item" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalTitle"> Bobot Item Detail</h4>
            </div>
            <div class="modal-body">
                
            	<div class="form-elements" role="form" id="formAddBobotItem">
				    <div class="form-group span-full">
				        <label>Label</label>
				        <input type="text" id="BobotItem_label" name="BobotItem[label]" value="" class="form-control" />
				    </div>

				    <div class="form-group span-left">
				        <label>Nilai Minimum</label>
				        <input type="text" id="BobotItem_nilai_min" name="BobotItem[nilai_min]" value="" class="form-control" />
				    </div>

				    <div class="form-group span-right">
				        <label>Nilai Maksimum</label>
				        <input type="text" id="BobotItem_nilai_max" name="BobotItem[nilai_max]" value="" class="form-control" />
				    </div>

				    <div class="form-group span-full">
				        <label>Bobot</label>
				        <input type="text" id="BobotItem_bobot" name="BobotItem[bobot]" value="" class="form-control" />
				    </div>

				    
				</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"  >Cancel</button>
                <button type="button" class="btn btn-primary" onclick="addBobotItem(event)">Save</button>
            </div>
        </div>
    </div>
</div>



<?php } ?>