<?php if(!empty($kriteria)){ ?>

	<?php foreach ($kriteria as $key => $value) { ?>
	<div class="form-group checkboxlist-field storm col-md-6 pull-left ">
	        <label><h4><?= $value->nama?></h4></label>
	        <p class="help-block before-field"><?= $value->deskripsi?> </p>

	        <?php if(!empty($subkriteria[$value->id])){ ?>
	        	<?php foreach ($subkriteria[$value->id] as $skey => $svalue) { ?>

	        		<div class="checkbox " >
			            <input id="checkbox_<?=$value->id?>_<?=$svalue->id?>" name="KelasKriteria[]" value="<?=$svalue->id?>" type="checkbox" <?php if($svalue!=null){ ?>
			        			<?= (int)$kriteriamapping->where('kriteria_id',$svalue->id)->count()>0 ? 'checked="true"':'' ?>
			        		<?php }?>
			        		>
			            <label class="choice" for="checkbox_<?=$value->id?>_<?=$svalue->id?>"><?= $svalue->nama ?></label>
			            <p class="help-block"><?= $svalue->deskripsi ?></p>
			        </div>
	        	<?php } ?>
		        
	        <?php }  ?>
	</div>
	<?php } ?>
<?php } ?>